{% extends 'departement/base.html' %}
{% load i18n %}


{% block content %}
  <div class="container shadow">
    <div class="row justify-content-center">
      <div class="col-md-6 py-4">
        <h3 class="my-3">{% trans "Mot de passe oublié ?" %}</h3>
          <form method="post" class="py-4 mb-4">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">{% trans 'Envoyer' %}</button>
          </form>

          <p class="py-4 mb-4"> NB: Veuillez entrer votre email qui correspond à votre compte.</p>

      </div>
    </div>
  </div>
{% endblock %}