{% extends 'departement/base.html' %}
{% load i18n %}


{% block content %}

  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 mb-4">
        <h4 class="py-2">
        {% trans "Mot de passe oublié ?" %}</h4>
        <p class="py-4">
          {% blocktrans %}
          Nous vous avons envoyé par courriel des instructions pour définir votre mot de passe, si un compte existe avec le courriel que vous avez entré.
          Vous devriez les recevoir sous peu.
          {% endblocktrans %}
        </p>
        <p class=" alert alert-danger py-4 mb-4">
          {% blocktrans %}
          Si vous ne recevez pas de courriel, veuillez vous assurer d’avoir entré l’adresse avec laquelle vous vous êtes inscrit.
          et vérifiez votre dossier spam.
          {% endblocktrans %}
        </p>
      </div>
    </div>
  </div>
  
{% endblock %}