{% extends 'departement/base.html' %}
{% load i18n %}

{% block content %}
  <div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
    {% if validlink %}
      <h3 class="py-2">Mot de passe oublié ?</h3>
      <form method="post" class="py-4">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">{% trans "Envoyer" %}</button>
      </form>
    {% else %}
      <h3 class="py-4 mb-2">Mot de passe oublié ?</h3>
      <p class="py-4 alert alert-danger mb-4">
        {% blocktrans %}
        Le lien de réinitialisation du mot de passe était invalide, probablement parce qu’il a déjà été utilisé.
        Veuillez demander une nouvelle réinitialisation du mot de passe.
        {% endblocktrans %}
      </p>
    </div>
  </div>
  </div>
  {% endif %}
{% endblock %}