 <!-- Divider Section-->
 {% load i18n %}
 <section style="height:400px;background: url(/static/images/ept_background.png); background-size: cover; background-position: center bottom" class="hero">
    <div class="container">
      <div class="row"  >
        <div class="col-md-7 ml-5 py-4" style="margin-top:80px">
          <h2 class="h2 text-white" style="text-weight:bolder">{% trans "Sagesse - Devoir" %}</h2>
          <span class="text-white">
              {% blocktrans %}
                 L'Ecole Polytechnique de Thiès, connu sous le sigle EPT, est une
              grande école d'ingénieurs implantée au Sénégal. créée en 1973
              par Léopold Sédar Senghor, elle forme des ingénieurs dans les
              domaines du civil, du génie électromécanique (avec une
              filière aéronautique) et du génie informatique et
              télécommunications.
              {% endblocktrans %}
             
       
               
          </span>
        </div>
      </div>
    </div>
  </section>
  <!-- Latest Posts -->